<form class="form-container">
  <div class="big-item">
    <mat-form-field class="full-width">
      <input type="text" placeholder="Busqueda:" aria-label="Number" matInput [formControl]="myControl"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)='patientSelected($event.option.value)'>
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-card *ngIf="patient_name" class="full-height">
      <div class="full-width">
        <mat-card-title>{{full_patient.name}}</mat-card-title>
        <mat-card-subtitle>{{full_patient.phone}}</mat-card-subtitle>
      </div>

      <div class="form-container">
        <div class="small-item">
          <mat-card-subtitle>Enfermedades y condiciones conocidas:</mat-card-subtitle>
          <div *ngIf="full_patient.diabetes">Diabetes</div>
          <div *ngIf="full_patient.hipertension">Hipertension</div>
          <div *ngIf="full_patient.lupus">Lupus</div>
          <div *ngIf="full_patient.transtornos_tiroides">Transtornos de tiroides</div>
          <div *ngIf="full_patient.hemorragias_freq">Hemorragias Frecuentes</div>
          <div *ngIf="full_patient.tomando_medicamentos">Tomando medicamento</div>
          <div *ngIf="full_patient.embarazo">Embarazo</div>
          <div *ngIf="full_patient.tratamiento_psiquiatrico">Tratamiento Psiquiatrico</div>
        </div>

        <div class="big-item">
          <mat-card>
            <mat-card-subtitle>Enfermedades:</mat-card-subtitle>
            <p>{{full_patient.enf_otras}}</p>
          </mat-card>

          <mat-card>
            <mat-card-subtitle>Alergias:</mat-card-subtitle>
            <p>{{full_patient.alergia}}</p>
          </mat-card>

          <mat-card>
            <mat-card-subtitle>Drogas y enervantes:</mat-card-subtitle>
            <p>{{full_patient.drogas}}</p>
          </mat-card>
        </div>

      </div>



    </mat-card>

  </div>

  <div class="small-item">

    <button class="gen-button" mat-raised-button (click)="newPatientForm()">Nuevo Paciente</button>
    <button class="gen-button" mat-raised-button [disabled]="!patient_name" (click)="delPatientDiag()">Eliminar
      Paciente</button>
    <button class="gen-button" mat-raised-button [disabled]="!patient_name" (click)="updatePatientDiag()">Modificar
      Datos</button>
    <button class="gen-button" mat-raised-button [disabled]="!patient_name">Agendar Cita</button>

  </div>
</form>