@import "../../styles.scss"; 

.small-item{
    display: flex;
    flex-grow: 1;
    flex-basis:auto;
    flex-direction: column;
  }
  
  .gen-button{
    display: flex;
    margin: 5px;
  }
  
  .flex-spacer {
      flex: 1 1 auto;
    }
  
  .form-container{
      display: flex;
      height: 90%;
  }

  .full-width{
    width: 90%;
  }

  .half-width{
    width: 45%;
  }

  .full-height{
    height: 90%;
  }

  .center-content{
    justify-content: center;
}

.big-item{
    display: flex;
    flex-grow: 3;
    flex-direction: column;
  }