.big-item{
    display: flex;
    flex-grow: 4;
    flex-direction: column;
  }
  
  .small-item{
    display: flex;
    flex-grow: 1;
    flex-basis:auto;
    flex-direction: column;
  }
  
  .gen-button{
    display: flex;
    margin: 5px;
  }
  
  .flex-spacer {
      flex: 1 1 auto;
    }
  
  .form-container{
      display: flex;
      height: 90%;
  }