<form class="form-container" [formGroup]="newApointmentForm" (ngSubmit)="onSubmit()">
    <div class="big-iten">
        <div>
          <p *ngIf="update">{{newApointmentForm.value.name}}</p>
          <mat-form-field class="full-width" *ngIf="!update">
            <input type="text" placeholder="Paciente:" aria-label="Number" matInput [formControl]="myControl"
              [matAutocomplete]="auto" required>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)='patientSelected($event.option.value)'>
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Cita el dia:</mat-label>
                <input matInput [matDatepicker]="picker" required matInput formControlName="ap_date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="time" placeholder="Hora:" formControlName="ap_time" required>
            </mat-form-field>

        </div>




        <mat-dialog-actions>

            <span class="flex-spacer"></span>

            <button mat-button mat-dialog-close>Cancelar</button>

            <button type="submit" mat-button [disabled]="newApointmentForm.invalid">Guardar Cita</button>

        </mat-dialog-actions>
    </div>
</form>